configuration {
    modi: "drun,run,window";
    font: "JetBrains Mono 12";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: " Apps";
    display-run: " Run";
    display-window: " Windows";
    drun-display-format: "{name}";
    sidebar-mode: false;
}

@theme "catppuccin-mocha"
